<div class="comment card">
  <div class="card-header">
    <h2>Edit Comment</h2>
  </div>
  <form id="edit-comment-form" class="card-body">
    <input type="hidden" name="comment-id" value="{{comment.id}}" />

    <label class="form-label" for="comment-body">Content</label>
    <textarea name="comment-body" class="form-input">{{comment.body}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/public/js/editcomment.js"></script>
