<div class="text-center">
<h2>{{title}}</h2>
<p>{{body}}</p>
<p>{{user.name}}: {{format_date createdAt}} </p>


<p>
<a href="/" class = "btn btn-primary">More Posts</a>
<a href="/" class = "btn btn-primary">New Post</a>
</p>


</div>